<!DOCTYPE html>
<html>
  <head>
    <title>GRABATE.cl - Encuentra tu estudio de grabación</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=3" />
    <!-- title -->
    <title>grabate.cl - Encuentra tu estudio de grabación aquí</title>
    <meta name="description" content="Somos una página diseñada para ayudar a los músicos a encontrar el estudio de grabación que se acomode exactamente a lo que buscan en temas de ubicación, sonido y presupuesto"
    />
    <meta name="keywords" content="estudios de grabación" />
    <meta name="author" content="Tomás Oyarzún Arenas">
    <meta property="og:url" content="http://www.grabate.cl" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Somos una página diseñada para ayudar a los músicos a encontrar el estudio de grabación que se acomode exactamente a lo que buscan en temas de ubicación, sonido y presupuesto"
    />
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="<%= asset_path "materialize.css" %>" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="<%= asset_path "style.css" %>" type="text/css" rel="stylesheet" media="screen,projection"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
